$font-family: Poppins, sans-serif;
$std-txt-color: #fff;
$menu-txt-color: #1d1d1d;
$mobile-top-bar-padd: 24px 20px;
$tablet-top-bar-padd: 36px 72px;
$desktop-top-bar-padd: 36px 120px;
$mobile-title-bottom-padd: 88px;
$tablet-title-bottom-padd: 130px;
$desktop-title-bottom-padd: 203px;
